$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$default-font-size: 1.6rem;
$color-green-dark: #14443b;
$color-green-light: #4a8579;
$color-pink-light: #fcccde;
$color-pink-dark: #b8446f;
$color-purple-dark: #7244ab;
$color-purple-light: #b29bd1;
$color-blue-light: #9ec7e6;
$color-blue-dark: #2253a8;
