.navbar {
  display: block;
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-around; // Space out links
  background-color: $color-white;
  height: 4.5rem !important;
  z-index: 100;
  gap: 5rem;
  font-weight: 600;
  font-size: 1.8rem;
}
.navbar a {
  text-decoration: none;
  color: #c12151;
}
