.navbar {
  display: block;
  position: sticky; // Make the navbar sticky
  top: 0; // Stick to the top of the viewport
  padding: 1rem; // Add padding for spacing
  display: flex; // Align items in a row
  justify-content: space-around; // Space out links
  background-color: $color-white;
  height: 4rem !important;
  z-index: 100;
  gap: 5rem;
  font-weight: 600;
}
.navbar a {
  text-decoration: none;
  color: #c12151;
}
