* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  font-family: "IranianSansRegular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: $color-gray-dark;
  background-color: $color-white;
  padding: 0rem 3.5rem 3.5rem 3.5rem;
  @include respond(tab-port) {
    padding: 0;
  }
}
html {
  font-size: 62.5%;
  direction: rtl;

  @include respond(big-desktop) {
    font-size: 75%; //1rem=12px
  }
  @include respond(tab-land) {
    font-size: 56.25%; //1rem-9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem=8px
  }
  @media (max-width: 30rem) {
    font-size: 34%;
    background-color: red;
  }
  @media (max-width: 20rem) {
    font-size: 27%;
    background-color: red;
  }
}
