.flowers {
  background-color: $color-gray-light-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &-content {
    padding: 9.6rm 1rem !important;
    margin-top: 3rem;
  }
}
.section-favorites {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
}
